/* Stile pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

span {
    color: #666;
}

h4 {
    color: #fff;
}

h3 {
    color: #fff;
}

h2 {
    color: #fff;
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: #666;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

#wrapper:after {
    content: "";
    display: table;
    clear: both;
}

/* Stile barra di navigazione laterale */
#nav-bar {
    float: left;
    width: 200px;
    height: calc(100vh - 100px);
    background-color: #000;
    display: flex;
    flex-direction: column;
}

#nav-bar .logo {
    height: 30px;
    margin: 20px 0;
    margin-left: 20px;
}

#nav-bar ul {
    margin-bottom: 15px;
}

#nav-bar ul li {   
    line-height: 30px;
}

#nav-bar ul li span {
    vertical-align: middle;
}

#nav-bar .add {
    margin-left: 20px;
}

#nav-bar .list {
    margin-left: 20px;
    overflow-y: auto;
    height: 350px;
}

/* Stile icone barra di navigazione */
#nav-bar ul li i {
    color: #666;
    font-size: 20px;
    vertical-align: middle;
    padding-left: 20px;
}

#nav-bar .fa-plus-square {
    font-size: 30px;
    margin: 10px 0;
    vertical-align: middle;
    margin-right: 10px;
}

#nav-bar .fa-arrow-alt-circle-down {
    color: #454545;
    margin-right: 5px;
}

#nav-bar .fa-user-circle {
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

/* Stile account */
#nav-bar .account {
    margin: 0 20px;
}

#nav-bar .account div {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #666;
    margin-top: 10px;
}

/* Stile contenuto pagina */
#content {
    float: left;
    width: calc(100% - 200px);
    height: calc(100vh - 100px);
    background-color: #141922;
    overflow-y: auto;
    position: relative;
}

/* Stile banner */
#content .banner {
    width: calc(100% - 200px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#content .banner h4 {
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 30px;
}

/* Stile menu */
#content .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 90px;
}

#content .menu li {
    margin-right: 20px;
}

#content .menu li a {
    padding-bottom: 5px;
}

/* Stile sezioni playlist */
#content .playlist {
    margin: 40px 20px;
    display: flex;
    flex-wrap: wrap;
}

#content .playlist h2 {
    width: 100%;
}

#content .playlist span {
    width: 100%;
    margin-top: 10px;
}

#content figure {
    width: 14%;
    margin-top: 25px;
    text-align: center;
    margin-right: 2%;
}

#content figure img {
    width: 100%;
}

#content figure h3 {
    margin: 5px auto;
}

/* Stile barra gestione brani */
#play-bar {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

/* Stile aside play-bar */
#play-bar aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}

/* Stile brani */
#play-bar .songs img {
    width: 50px;
}

#play-bar .songs i {
    color: #666;
    font-size: 1.5em;
}

/* Stile impostazioni */
#play-bar .setts i {
    color: #fff;
}

#play-bar .setts .volume {
    width: 60%;
    height: 3px;
    background-color: #666;
    border-radius: 5px;
    position: relative;
}

#play-bar .setts .volume div {
    width: 30%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

/* Stile player */
#play-bar .player {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#play-bar .controls {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#play-bar .controls i {
    color: #fff;
    font-size: 1.5em;
    
}

#play-bar .controls .fa-play-circle {
    font-size: 3em;
}

#play-bar .time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#play-bar .time-bar {
    width: 80%;
    height: 3px;
    background-color: #666;
    border-radius: 5px;
    position: relative;
}

#play-bar .time-bar div {
    width: 30%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
}

/* Stile effetti hover */

/* Hover barra di navigazione laterale */
#nav-bar div ul li:hover {
    background-color: #222;
    border-left: 3px solid #0c0;
}

#nav-bar ul li:hover,
#nav-bar .add,
#nav-bar .account {
    cursor: pointer;
}

#nav-bar ul li:hover span,
#nav-bar ul li:hover i,
#nav-bar .add:hover span,
#nav-bar .account:hover span,
#nav-bar .account:hover i {
    color: #fff;
}

/* Hover banner */
#content .banner h4:hover {
    transform: scale(110%);
    cursor: pointer;
}

/* Hover menu */
#content .menu a:hover {
    cursor: pointer;
    color: #fff;
    border-bottom: 3px solid #0c0;   
}

/* Hover playlist */

/* Hover player */
#play-bar i:hover {
    cursor: pointer;
}

#play-bar .songs i:hover {
    color: #fff;
}

#play-bar .controls .fa-play-circle:hover {
    transform: scale(120%);
}

#play-bar .time-bar:hover,
#play-bar .volume:hover {
    cursor: pointer;
}

#play-bar .time-bar:hover div,
#play-bar .volume:hover div {
    background-color: #0c0;
    cursor: pointer;
}

#play-bar .time-bar h6,
#play-bar .volume h6  {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(0, -50%);
    display: none;
}

#play-bar .time-bar:hover h6,
#play-bar .volume:hover h6 {
    display: block;
}