/* Stile pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

span {
    color: #454545;
}

h4 {
    color: #fff;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

#wrapper:after {
    content: "";
    display: table;
    clear: both;
}

/* Stile barra di navigazione laterale */
#nav-bar {
    float: left;
    width: 200px;
    height: calc(100% - 100px);
    background-color: #000;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nav-bar .logo {
    height: 30px;
    margin: 20px 0;
}

#nav-bar ul {
    margin-bottom: 15px;
}

#nav-bar ul li {   
    line-height: 20px;
    margin-bottom: 5px;
}

#nav-bar ul li span {
    vertical-align: middle;
}

#nav-bar .list {
    overflow-y: auto;
}

/* Stile icone barra di navigazione */
#nav-bar ul li i {
    color: #454545;
    font-size: 20px;
    vertical-align: middle;
}

#nav-bar .fa-plus-square {
    font-size: 30px;
    margin: 5px 0;
    vertical-align: middle;
}

#nav-bar .fa-arrow-alt-circle-down {
    color: #454545;
    margin-right: 5px;
}

#nav-bar .fa-user-circle {
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

/* Stile account */
#nav-bar .account {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #454545;
    margin-top: 10px;
}

/* Stile contenuto pagina */
#content {
    float: left;
    width: calc(100% - 200px);
    height: calc(100% - 100px);
    background-color: #141922;
    overflow-y: auto;
    position: relative;
}

/* Stile header */
#content header {
    width: calc(100% - 200px);
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;   
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#content header h4 {
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 20px;
    margin-right: 10px;
}

/* Stile barra gestione brani */
#play-bar {
    float: left;
    width: 100%;
    height: 100px;
    background-color: #282828;
}